<a href="https://colab.research.google.com/github/guilhermebodra/ebac-ciencia-de-dados/blob/main/Ci%C3%AAncia%20de%20Dados%20-%20M%C3%B3dulo%2004%20/M04%20-%20Ex01%20-%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  Crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [7]:
import pandas as pd
import numpy as np

# Seu código aqui
temp_global = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02])
temp_global

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [5]:

# seu código aqui
temp_global = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02],
                      index = [1900, 1920, 1940, 1960, 1980, 2000, 2020])
temp_global

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [8]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
series_temperaturas = pd.Series(dic_temperaturas)
series_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [13]:
arr = np.random.normal(100, 10, (20,3))
arr
# seu código aqui
df_arr = pd.DataFrame(arr)
df_arr

             0           1           2
0    95.798276   94.668803   75.642614
1   109.763720  108.390626   97.108914
2    91.581061  101.065455  102.912732
3   105.079717   98.435529   93.135027
4   105.613959  117.467830  100.136650
5    89.511828   97.002852   95.495132
6    98.074103   98.843838  108.469715
7    94.959864  115.393175   97.226525
8   106.979308   87.486280  103.880514
9   106.008244   93.152310  124.540427
10   97.196035  100.782176   96.907849
11   99.339546   98.295422  111.916482
12   98.292410   96.662499   93.531790
13   89.835624  111.022914  102.432259
14   91.128373  100.321047  105.259769
15   92.145306  110.315142   99.134585
16  102.226477  103.959637  104.542260
17  110.892080  102.768094  117.192404
18  114.369096   95.070493   93.482363
19  106.738744   97.464202  106.054863

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [16]:
#seu código aqui
df_arr = pd.DataFrame(arr,index=range(1,21),columns=["x1", "x2", "x3"])
df_arr

            x1          x2          x3
1    95.798276   94.668803   75.642614
2   109.763720  108.390626   97.108914
3    91.581061  101.065455  102.912732
4   105.079717   98.435529   93.135027
5   105.613959  117.467830  100.136650
6    89.511828   97.002852   95.495132
7    98.074103   98.843838  108.469715
8    94.959864  115.393175   97.226525
9   106.979308   87.486280  103.880514
10  106.008244   93.152310  124.540427
11   97.196035  100.782176   96.907849
12   99.339546   98.295422  111.916482
13   98.292410   96.662499   93.531790
14   89.835624  111.022914  102.432259
15   91.128373  100.321047  105.259769
16   92.145306  110.315142   99.134585
17  102.226477  103.959637  104.542260
18  110.892080  102.768094  117.192404
19  114.369096   95.070493   93.482363
20  106.738744   97.464202  106.054863

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [17]:
# seu código aqui
df_arr['media'] = (df_arr['x1']+df_arr['x2']+df_arr['x3'])/3
df_arr

            x1          x2          x3       media
1    95.798276   94.668803   75.642614   88.703231
2   109.763720  108.390626   97.108914  105.087753
3    91.581061  101.065455  102.912732   98.519749
4   105.079717   98.435529   93.135027   98.883424
5   105.613959  117.467830  100.136650  107.739480
6    89.511828   97.002852   95.495132   94.003270
7    98.074103   98.843838  108.469715  101.795885
8    94.959864  115.393175   97.226525  102.526521
9   106.979308   87.486280  103.880514   99.448701
10  106.008244   93.152310  124.540427  107.900327
11   97.196035  100.782176   96.907849   98.295353
12   99.339546   98.295422  111.916482  103.183817
13   98.292410   96.662499   93.531790   96.162233
14   89.835624  111.022914  102.432259  101.096932
15   91.128373  100.321047  105.259769   98.903063
16   92.145306  110.315142   99.134585  100.531677
17  102.226477  103.959637  104.542260  103.576124
18  110.892080  102.768094  117.192404  110.284193
19  114.369096   95.070493   93.482363  100.973984
20  106.738744   97.464202  106.054863  103.419270

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [22]:
# seu código aqui
df_arr['log_med'] = np.log(df_arr['media'])
print(df_arr)

            x1          x2          x3       media   log_med
1    95.798276   94.668803   75.642614   88.703231  4.485296
2   109.763720  108.390626   97.108914  105.087753  4.654796
3    91.581061  101.065455  102.912732   98.519749  4.590257
4   105.079717   98.435529   93.135027   98.883424  4.593942
5   105.613959  117.467830  100.136650  107.739480  4.679716
6    89.511828   97.002852   95.495132   94.003270  4.543330
7    98.074103   98.843838  108.469715  101.795885  4.622970
8    94.959864  115.393175   97.226525  102.526521  4.630122
9   106.979308   87.486280  103.880514   99.448701  4.599642
10  106.008244   93.152310  124.540427  107.900327  4.681208
11   97.196035  100.782176   96.907849   98.295353  4.587977
12   99.339546   98.295422  111.916482  103.183817  4.636512
13   98.292410   96.662499   93.531790   96.162233  4.566037
14   89.835624  111.022914  102.432259  101.096932  4.616080
15   91.128373  100.321047  105.259769   98.903063  4.594140
16   92.145306  110.315142   99.134585  100.531677  4.610473
17  102.226477  103.959637  104.542260  103.576124  4.640307
18  110.892080  102.768094  117.192404  110.284193  4.703061
19  114.369096   95.070493   93.482363  100.973984  4.614863
20  106.738744   97.464202  106.054863  103.419270  4.638791